<section class="section">
  <div class="container">

    <!-- colonna unica, centrata e larga metà del container -->
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">

        <!-- elenco verticale delle card corsi -->
        <ng-container *ngFor="let c of courses">
          <div class="card mb-5">
            <header class="card-header">
              <p class="card-header-title">
                {{ c.name }}<br/>
              </p>
            </header>
            <div class="card-content">
              <div class="content">{{ c.abstract }}</div>
            </div>
            <footer class="card-footer">
              <a
                class="card-footer-item"
                [href]="c.syllabus"
                target="_blank">
                Syllabus
              </a>
            </footer>
          </div>
        </ng-container>

      </div>
    </div>

  </div>
</section>