<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-menu is-active container">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/">Home</a>
      <a class="navbar-item" routerLink="/bio">Bio</a>
      <a class="navbar-item" routerLink="/pubblicazioni">Pubblicazioni</a>
      <a class="navbar-item" routerLink="/didattica">Didattica</a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/contatto">Contatto</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>